body {
  overflow: hidden;
}

#bgLayer1 {
    position: absolute;
    width: 130%;
    height: 130%;
    top: -25%;
    left: -20%;
}

#mySlot0 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#mySlot1 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#mySlot2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


#teamData {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    top: 100%;
    left: 50%;
    background-image: linear-gradient(to right, #f5ccfd97 0%, #ffffff95 25%, #e6f9ff96 61%, #ccebffab 75%, #fde6ffb7 100%);
    border-radius: 25px;
}



#myHP0 {
    top: 45%;
    left: 18%;
}
#myHP1 {
    top: 45%;
    left: 50%;
}
#myHP2 {
    top: 45%;
    left: 82%;
}

.myHP {
    position: absolute;
    width: 30%;
    height: 5%;
    transform: translate(-50%, -50%);
    background-color: #06215c;
    border-radius: 25px;
    overflow: hidden;
}
.myHPFill {
    width: 50%;
    height: 100%;
    background-image: url('/Scenes/Battle/Sprites/hpFill.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#myIcon0 {
    position: absolute;
    width: 25%;
    height: auto;
    top: 25%;
    left: 18%;
    transform: translate(-50%, -50%);
}
#myIcon1 {
    position: absolute;
    width: 25%;
    height: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#myIcon2 {
    position: absolute;
    width: 25%;
    height: auto;
    top: 25%;
    left: 82%;
    transform: translate(-50%, -50%);
}



#team3 {
    position: absolute;
    width: 50%;
    height: auto;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#team4 {
    position: absolute;
    width: 50%;
    height: auto;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#team5 {
    position: absolute;
    width: 50%;
    height: auto;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}







#enemySlot1 {
    position: absolute;
    width: 15%;
    height: auto;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
}
#enemySlot0 {
    position: absolute;
    width: 15%;
    height: auto;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}
#enemySlot2 {
    position: absolute;
    width: 15%;
    height: auto;
    top: 60%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#pin1 {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50%;
    left: 50%;
}
#pin0 {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50%;
    left: 65%;
}
#pin2 {
    position: absolute;
    width: 10%;
    height: auto;
    top: 50%;
    left: 80%;
}

#enemyHP1 {
    top: 45%;
    left: 55%;
}
#enemyHP0 {
    top: 45%;
    left: 70%;
}
#enemyHP2 {
    top: 45%;
    left: 85%;
}

.enemyHP {
    position: absolute;
    width: 13%;
    height: 2%;
    transform: translate(-50%, -50%);
    background-color: #220202;
    border-radius: 25px;
    overflow: hidden;
}
.enemyHPFill {
    width: 50%;
    height: 100%;
    background-image: url('/Scenes/Battle/Sprites/enemyHpFill.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}



#attackButton {
    position: absolute;
    width: 10%;
    height: auto;
    top: 80%;
    left: 80%;
}

#techniqueButton {
    position: absolute;
    width: 9%;
    height: auto;
    top: 70%;
    left: 89%;
}



#imanaBar {
    position: absolute;
    width: 3%;
    height: 75%;
    top: 15%;
    left: 0.5%;
    background-color: #010c24;
    border-radius: 15px;
    transform: rotate(180deg);
    overflow: hidden;
}

#imanaFill {
  background-image: url('/Scenes/Battle/Sprites/ImanaFill.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  width: 100%;
  height: 100%;

  animation: float 2s ease-in-out infinite;

  position: absolute;
}

/* 1. Define the animation keyframes */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Moves up by 20 pixels */
  }
  100% {
    transform: translateY(0px); /* Returns back to start */
  }
}


#turnOrderHolder {
    position: absolute;
    background-image: linear-gradient(to right, #f5ccfd97 0%, #ffffff95 25%, #e6f9ff96 61%, #ccebffab 75%, #fde6ffb7 100%);
    border-radius: 25px;
    width: 29%;
    height: 8%;
    top: 90%;
    left: 4%;
}

.turnOrder {
    width: auto;
    height: 100%;
}

.flashcard {
    background-image: linear-gradient(to right, #fbe8ff 0%, #fff 25%, #e6f9ff 61%, #e0f3ff 75%, #fde6ff 100%);
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    align-items: center;
    opacity: 0.9;
}

#answerHolder {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}

.recogAnswer {
    width: 50%;
    height: 50%;
    font-size: 1.5vw;
}


.question {
    font-size: 2vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
}

#recognitionAnswer1 {
    position: absolute;
    top: 0%;
    left: 0%;
}
#recognitionAnswer2 {
    position: absolute;
    top: 0%;
    left: 50%;
}
#recognitionAnswer3 {
    position: absolute;
    top: 50%;
    left: 0%;
}
#recognitionAnswer4 {
    position: absolute;
    top: 50%;
    left: 50%;
}

#recallAnswer {
    position: absolute;
    width: 90%;
    height: 15%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: rgb(4, 5, 64);
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

#rnrModeText {
    position: absolute;
    top: 90%;
    left: 63%;
    font-size: 2vw;
    text-shadow: 
    2px 2px 2px #ffffff,
    2px 2px 2px #ffffff;
}

#flashcardFeedback {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;

    top: 45%;
    left: 50%;
}


#teamFocus {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#focusText {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    top: 55%;
    left: 50%;
    text-shadow: 
    1px 1px 0px #a2f0ffa2,
    2px 2px 0px #ffbef4c1;
}

#teammateTarget0 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 92%;
    left: 42%;
    width: 5%;
    height: 10%;
    opacity: 0;
}

#teammateTarget1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 92%;
    left: 50%;
    width: 5%;
    height: 10%;
    opacity: 0;
}

#teammateTarget2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 92%;
    left: 58%;
    width: 5%;
    height: 10%;
    opacity: 0;
}

#battlelog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    text-align: center;
    background-color: #ffffffc6;
    border-radius: 5%;
    
}


.logtext {
    font-size: 1.5vw;
    color: #06215c;
    text-shadow: 
    2px 2px 2px #ffffff85,
    2px 2px 2px #ffffff91;
}


/* ------------------------------------- */
p {
    color: rgb(4, 5, 64);
    font-family: 'Times New Roman', Times, serif, sans-serif;
}



